// color
$moonRaker: #9c8dd6;
$dustStorm: #d58e94;
$lightOldLace: #f8d89d;
$davyGray: #555555;
$fountainBlue: #5ab4c6;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #f2f2f2;
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}


input, button, select {
  font-size: 1.3rem;
}

h1 {
  font-weight: 300;
  font-size: 2.4rem;
}

@import './components/titleBar';
@import './components/wrapper';
@import './components/items';
@import './components/button';
@import './components/player';
@import './components/form';
